In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from sqlalchemy import create_engine
conn = create_engine('sqlite:///E:/Envirocar/myapp/envirocar.db')

In [19]:
date = '2017-07-05'
start_time = date + " " + "00:00:00.000000"
end_time = date + " " + "23:59:59.999999"
query = 'SELECT * FROM VehicleData WHERE Time >= ? and Time <= ?'

data = pd.read_sql_query(query, conn, params=(start_time, end_time),parse_dates=['Time'])

In [20]:
set(data.TripID.values)

{1, 2}